/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/JavaApplication7/dist/
/TestingSockets/build/
/TestingSockets/dist/
/TestingSockets/nbproject/private/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/JavaApplication8/dist/